<h4> Camera Plugin </h4>

<div id="cameraObj" data-url="{{ url_for('plugin.camera.grabPic') }}"><img data-bind="click: imageOnClick, event: { load: imageLoaded }, attr: { src: imgSrc }" width="640px" height="480px"></div>

